@charset "utf-8";
/*
 *网页宽度为640px  自动缩放 
 */
/*全局设置*/
*{
	margin: 0;
	padding: 0;
}

html,body{
	overflow: hidden;
	height: 100%;
	background: #000;
}

/*网页头部开始*/
.header{
	height: 20%;
	background: #37CC9A;
}

/*网页头部结束*/
/*网页主内容区开始*/
.main{
	height: 75%;
	background: #BEC4C2;
}
/*网页主内容区结束*/
/*网页底部导航开始*/
.footer-nav{
	height: 5%;
}
/*网页底部导航结束*/