@charset "utf-8";
/*
 *网页宽度为640px  自动缩放 
 */
/*全局设置*/
*{
	margin: 0;
	padding: 0;
}

html,body{
	overflow: hidden;
	height: 100%;
	background: #000;
}


/*左侧菜单栏开始*/
.left-nav{
	box-sizing:border-box;
	height: 100%;
	width: 4.3rem;
	float: left;
	background: #000;
	z-index: 999;
	padding: 0.2rem;
	position: absolute;
	top:0;
	left: -4.3rem;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
}

.left-caidan{
	height: 1.2rem;
	line-height: 1.2rem;
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	border-bottom: 0.064rem solid #fff;
}
/*左侧菜单栏结束*/

/*主容器开始*/
.container{
	float: left;
	width: 6.4rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0rem;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
}

/*网页头部开始*/
.header{
	height: 20%;
	background: #37CC9A;
}

/*网页头部结束*/
/*网页主内容区开始*/
.main{
	height: 80%;
	background: #BEC4C2;
}
/*网页主内容区结束*/
/*网页底部导航开始*/
.footer-nav{
	width: 100%;
	height: 1.0rem;
	background: #3C3432;
	position: fixed;
	bottom: 0;
}

.caidan{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../img/duocaiyuleanniuxiaotubiao_2952603.jpg) -54px 130px;
	float: left;
	margin-left: 0.56rem;
	margin-top: 0.05rem;
}

.zhuye{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../img/duocaiyuleanniuxiaotubiao_2952603.jpg) -54px -52px;
	float: left;
	margin-left: 0.56rem;
	margin-top: 0.05rem;
}

.lianxi{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../img/duocaiyuleanniuxiaotubiao_2952603.jpg) -54px 297px;
	float: left;
	margin-left: 0.56rem;
	margin-top: 0.05rem;
}

.geren{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../img/duocaiyuleanniuxiaotubiao_2952603.jpg) -220px 296px;
	float: left;
	margin-left: 0.56rem;
	margin-top: 0.05rem;
}

/*网页底部导航结束*/
